/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

section {
  padding-top: 36px;
}
.search-form {
  width: 450px;
  margin: 0 auto;
}
.search-input {
  padding-left: 16px;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 0.5s ease-in-out;
}
.search-input:hover {
  border-color: #000;
}
.search-input:focus {
  border-color: #4e75ff;
}
.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.search-btn,
.load-more-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}
.load-more-btn {
  display: block;
  margin: 0 auto;
}

.search-btn:hover,
.search-btn:focus {
  background: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 25px;
}
.gallery-item {
  /* border: 1px solid #808080; */
  /* width: 360px;*/
  height: 250px;
  flex-basis: calc((100% - 96px) / 5);
}
.gallery-item-img {
  display: block;
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.photo-info-list {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
}

.photo-data-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.photo-data {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Loader */
.loader {
  margin: 0 auto;
  margin-top: 40px;
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #1fd14e;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
  border-color: #0b5f15;
  animation-direction: alternate-reverse;
}

@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
